<div class="navbar">
    <div class="app-logo-small">notwait</div>
</div>
<p>Parece ser que no tienes la ubicación activada. No te preocupes, te vamos a ayudar a solucionar esto para que puedas disfrutar de las funcionalidades de Notwait.</p>
<h2>Iphone</h2>
<p>Dirigete a Ajustes > Privacidad > Localización. Una vez allí asegurate de que has activado el botón de “Localización”. </p>
<img src="/assets/img/location-toggle.png" alt="">

<p>Ten en cuenta que los navegadores que vayas a utilizar para acceder a la app deben estar configurados de la siguiente manera.</p>
<img src="/assets/img/chrome_location.png" alt="">
<img src="/assets/img/safari_location.png" alt="">


<h2>Android</h2>
<ol>
    <li>Desliza el dedo hacia abajo desde la parte superior de la pantalla.</li>
    <li>Mantén pulsado Ubicación.</li>
    <li>Si no encuentras la opción Ubicación, haz lo siguiente:</li>
    <ol>
        <li>Toca Editar o Ajustes.</li>
        <li>Arrastra Ubicación hasta el menú de ajustes rápidos.</li>
        <li>Vuelve al paso 1.</li>
    </ol>
</ol>

<div class="basic-button" routerLink="">
    Ya he activado la Ubicación
</div>
<p class="messageButton">Si al hacer click sigue en la misma página asegúrese de que ha activado correctamente la ubicación.</p>