<div class="navbar">
    <div class="app-logo-small">notwait</div>

    <a class="back-arrow" routerLink="../..">
        <fa-icon [icon]="faArrowLeft"></fa-icon>
    </a>
</div>

<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

    <!-- Inputs de texto -->
    <input type="text" class="basic-input" formControlName="bussinessName" placeholder="Business name">
    <textarea type="text" class="basic-textarea" formControlName="description" placeholder="Your business description"></textarea>
    <input type="text" class="basic-input" formControlName="country" placeholder="Country">
    <input type="text" class="basic-input" formControlName="stateProvince" placeholder="State/Province">
    <input type="text" class="basic-input" formControlName="city" placeholder="City">
    <input type="text" class="basic-input" formControlName="postalCode" placeholder="Postal code">
    <input type="text" class="basic-input" formControlName="street" placeholder="Street">
    <input type="text" class="basic-input" formControlName="number" placeholder="Number">
    <input type="text" class="basic-input" formControlName="floor" placeholder="Floor (optional)">
    <input type="text" class="basic-input" formControlName="door" placeholder="Door (optional)">
    <input type="text" class="basic-input" formControlName="phone" placeholder="Phone">
    <input type="text" class="basic-input" formControlName="category" placeholder="Category">
    <input type="text" class="basic-input" formControlName="openingHour" placeholder="Opening hour">
    <input type="text" class="basic-input" formControlName="closingHour" placeholder="Closing Hour">
    <input type="text" class="basic-input" formControlName="url" placeholder="Website URL">
    <input type="email" class="basic-input" formControlName="email" placeholder="Email">
    <input type="password" class="basic-input" formControlName="password" placeholder="Password">

    <!-- Input para subir imágenes del negocio -->
    <input formControlName="file" id="file" type="file" class="form-control" multiple="" (change)="onFileChange($event)" style="display: none;">
    <input class="basic-button" type="button" value="Add your business pictures" onclick="document.getElementById('file').click();" />

    <!-- Sección donde se muestra una previsualización de las imágenes que vas a subir -->
    <div class="businessImage" *ngFor='let url of imagesToShow'>
        <img [src]="url">
        <a (click)="deleteImage(url)">
            <fa-icon [icon]="faXmark"></fa-icon>
        </a>
    </div>

    <button class="basic-button" type="submit">Submit</button>
    
</form>