<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

    <input type="text" formControlName="bussinessName" placeholder="Business name">
    <textarea type="text" formControlName="description" placeholder="Your business description"></textarea>
    <input type="text" formControlName="country" placeholder="Country">
    <input type="text" formControlName="stateProvince" placeholder="State/Province">
    <input type="text" formControlName="city" placeholder="City">
    <input type="text" formControlName="postalCode" placeholder="Postal code">
    <input type="text" formControlName="street" placeholder="Street">
    <input type="text" formControlName="number" placeholder="Number">
    <input type="text" formControlName="floor" placeholder="Floor (optional)">
    <input type="text" formControlName="door" placeholder="Door (optional)">
    <input type="text" formControlName="phone" placeholder="Phone">
    <input type="text" formControlName="category" placeholder="Category">
    <input type="text" formControlName="openingHour" placeholder="Opening hour">
    <input type="text" formControlName="closingHour" placeholder="Closing Hour">
    <input type="text" formControlName="url" placeholder="Website URL">
    <input type="email" formControlName="email" placeholder="Email">
    <input type="password" formControlName="password" placeholder="Password">

    <input type="file" name="profilepic" id="myFile" (change)='handleFileInput($event)'>
    <div *ngFor="let photo of businessPhotos">
        {{photo.name}}
    </div>

    <p>Complete the form to enable button.</p>
    <button type="submit">Submit</button>

</form>