<div class="container">
  <div class="brand-login">
    <div class="brand">
      <div class="app-logo">notwait</div>
      <div class="slogan">¡Que el esperar no te quite tiempo!</div>
    </div>
    <div class="client login">
      {{userLogged}}
      <button class="basic-button" id="l" (click)="login()">Entrar con Google</button>
    </div>
    <form [formGroup]="loginForm" class="business login" (ngSubmit)="onLoginBusiness()">
      <input class="basic-input" type="email" placeholder="Correo electrónico" formControlName="email">
      <input class="basic-input" type="password" placeholder="Contraseña" formControlName="password">
      <button class="basic-button" type="submit">Inicia sesión</button>
      <div class="separator">
        <div class="line"></div>o<div class="line"></div>
      </div>
      <button routerLink="auth/register" class="basic-button">Regístrate</button>
    </form>
  </div>
  <div class="options">
    <div class="op-c option cliente" id="activateClient" >Cliente</div>
    <div class="op-b option negocio" id="activateBusiness">Negocio</div>
  </div>

</div>


