<div class="navbar">
    <div routerLink="/" class="app-logo-small">notwait</div>  

    <a class="back-arrow" routerLink="../..">
        <fa-icon [icon]="faArrowLeft"></fa-icon>
    </a>
</div>


<div class="businessDataBox" *ngIf="businessData" style="color: black">
    <div *ngIf="businessData['imgURL'] && businessDataAnimationCounter === 0 ?businessDataAnimation():false"></div>
    <img class="businessImg" src="{{businessData['imgURL']}}" alt="">
    <div class="card">
        <div class="card-inside">
            <div class="title-status">
                <div class="title">{{businessData['businessName']}}</div>
                <div class="status ok">Abierto</div>
            </div>
            <div class="category">{{businessData['category']}}</div>
            <div class="description">{{businessData['description']}}</div>
            <a href="https://www.google.es/maps/place/{{businessData['street']}}+{{businessData['number']}}+{{businessData['postalCode']}}+{{businessData['city']}}+{{businessData['stateProvince']}}" class="basic-button grey">¿Cómo llegar?</a>
            <div class="buttons-second-line">
                <a href="tel:{{businessData['phone']}}" class="basic-button grey mid">Llamar</a>
                <a href="mailto:{{businessData['email']}}" class="basic-button grey mid ">Email</a>
            </div> 
        </div>
        <div class="card-inside">
            <button routerLink="../../queue/{{businessData['uid']}}" class="queue-button">
                <img src="/assets/img/people-group-solid.png" alt="">
            </button>   
        </div>
    </div>
</div>

<div class="loadingData">
    <div class="loadingBox">
        <div class="d1 dot"></div>
        <div class="d2 dot"></div>
        <div class="d3 dot"></div>
      </div>
</div>