.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: white;
    z-index: 100;
    height: 70px;
}

.navbar .app-logo-small {
    color: black;
}

.back-arrow {
    font-size: 39px;
    color: #5fce62;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 27px;
}

.businessDataBox {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    min-height: -webkit-fill-available;
}

.businessDataBox .businessImg {
    width: 100%;
    height: 50%;
    object-fit: cover;
    font-family: 'Inter';
} 

.businessDataBox .card {
    width: clamp(200px, 100%, 400px);
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: white;
    border-radius: 50px 50px 0 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 48%;
    padding: 40px 0 30px;
    box-shadow: 0 0 10px 10px rgba(0,0,0,0.04);
}

.businessDataBox .card:before {
    content: '';
    display: flex;
    height: 4px;
    width: 51px;
    background-color: #d3d3d3;
    position: absolute;
    top: 12px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 20px;
}


.businessDataBox .card .card-inside {
    width: 80%;
    height: 80%;
}

.title-status {
    display: flex;
    position: relative;
}

.status {
    color: white;
    padding: 6px 12px;
    zoom: 0.7;
    border-radius: 11px;
    border: 0;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

.ok {
    background-color: #5fce62;
}

.not-ok {
    background-color: gray;
}

.title {
    zoom: 1.4;
}

.category {
    color: #cbcbcb;
    margin-top: 2px;
    margin-bottom: 7px;
}

.basic-button {
    border: 0;
    border-radius: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-top: 12px;
    font-size: 16px;
    width: 100%;
    text-decoration: none;
}

.grey {
    background-color: rgb(230 230 230);
    color: black;
}

.buttons-second-line {
    display: flex;
    justify-content: space-between;
}

.mid {
    width: 48%;
}

.queue-button {
    font-size: 40px;
    background-color: #5fce62;
    color: white;
    width: 100%;
    border-radius: 9px;
    padding: 0px 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    margin-top: 16px;
    height: 70px;
}

.queue-button img {
    width: 20%;
}

.loadingData {
    height: 100%;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.loadingBox {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.dot {
    height: 10px;
    width: 10px;
    background-color: #5fce62;
    border-radius: 100%;
    margin: 3px;
}


