@font-face {
    font-family: "Bogart";
    src: local("Bogart"), url(./assets/fonts/Bogart.ttf) format("truetype");
}

@font-face {
    font-family: "Inter";
    src: local("Inter"), url(./assets/fonts/Inter-Medium.ttf) format("truetype");
}

html {
    height: -webkit-fill-available;
    width: 100vw;
    font-family: 'Inter';
    color: white;
    background-color: transparent;
    padding: 0 !important;
    margin: 0 !important;
}

body {
    min-height: 100vh;
    /* mobile viewport bug fix */
    min-height: -webkit-fill-available;
    background-color: transparent;
    padding: 0 !important;
    margin: 0 !important;
    display: flex;
    justify-content: center;
}

.app-logo {
    font-family: 'Bogart';
    color: black;
    font-size: 44px;
}


app-login {
    display: flex;
    flex-direction: column;
    min-height: -webkit-fill-available;
    height: 100%;
    width: 100vw;
    background-color: white;
    align-items: center !important;
    justify-content: flex-end !important;
    color: white;
}

app-register {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: clamp(200px, 100%, 400px);
    background-color: white;
}

.app-logo-small {
    font-size: 30px;
    font-family: 'Bogart';
    color: black;
    height: 100%;
    display: flex;
    align-items: center;
}

app-root {
    width: 100vw;
    display: flex;
    justify-content: center;
    min-height: -webkit-fill-available;
}

textarea, input {
    font-family: 'Inter' !important;
    font-size: 17px;
    color: rgb(112, 112, 112);
}

.basic-button:hover {
    cursor: pointer;
}

.basic-button {
    min-height: 47px;
    height: 47px;
}

.invalid-feedback{
    margin-bottom: 20px;
    color: white;
    background-color: #eb7560;
    padding: 14px;
    border-radius: 9px;
    font-style: italic;
    text-align: center;
}

app-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: clamp(200px, 100%, 400px);
    background-color: white;
    color: black;
    padding-top: 90px;
    min-height: -webkit-fill-available;
}

/* app-home div {
    border: 1px solid black;

} */

app-location-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: clamp(200px, 100%, 400px);
}



.basic-button:disabled {
    background: rgb(197, 197, 197) !important;
}

.basic-button:disabled:hover {
    cursor: not-allowed;
}

app-business {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: clamp(200px, 100%, 400px);
    min-height: -webkit-fill-available;
}

app-clients-settings {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 90px;
    overflow-y: scroll;
    display: flex;
}

app-clients-queue {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    color: black;
    flex-direction: column;
}
