@font-face {
    font-family: "Bogart";
    src: local("Bogart"), url(./assets/fonts/Bogart.ttf) format("truetype");
}

@font-face {
    font-family: "Inter";
    src: local("Inter"), url(./assets/fonts/Inter-Medium.ttf) format("truetype");
}

html {
    height: -webkit-fill-available;
    width: 100vw;
    font-family: 'Inter';
    color: white;
    background-color: #53ae55;
    padding: 0 !important;
    margin: 0 !important;
}

body {
    min-height: 100vh;
    /* mobile viewport bug fix */
    min-height: -webkit-fill-available;
    background-color: #53ae55;
    padding: 0 !important;
    margin: 0 !important;
    display: flex;
    justify-content: center;
}

.app-logo {
    font-family: 'Bogart';
    color: white;
    font-size: 44px;
}


app-login {
    display: flex;
    flex-direction: column;
    min-height: -webkit-fill-available;
    height: 100%;
    width: 100vw;
    background-color: #53ae55;
    align-items: center !important;
    justify-content: flex-end !important;
    color: white;
}

app-register {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: clamp(200px, 80%, 400px);
}

.app-logo-small {
    font-size: 30px;
    font-family: 'Bogart';
    color: white;
    margin: 20px 0;

}

app-root {
    width: 100vw;
    display: flex;
    justify-content: center;
}

textarea, input {
    font-family: 'Inter' !important;
    font-size: 17px;
    color: rgb(112, 112, 112);
}

.basic-button:hover {
    cursor: pointer;
}

.basic-button {
    min-height: 47px;
    height: 47px;
}
